{
    "token":"",
    "platform":"",
    "notifcationChannelID":"",
    "invasions":["1× Forma 蓝图"],
    "fissures":{
        "voidfissures_normal":["SolNode400","SolNode401","SolNode406","SolNode407"],
        "voidfissures_hard":["SolNode405","SolNode409"]},
    "arbitrations":["SolNode149","SolNode147","ClanNode22"]
}